services:
  dotfiles-docs:
    container_name: dotfiles-docs
    image: abhishek1009/dotfiles-docs:latest
    build:
      context: .
      dockerfile: Dockerfile.docs
    ports:
      - "8000:8000"
    volumes:
      - ./:/home/abhishek/workspace/dotfiles
  ubuntu:
    container_name: ubuntu
    image: abhishek1009/ubuntu:latest
    # build:
    #   context: . 
    #   dockerfile: Dockerfile.ubuntu
    command: sleep infinity
  alpine:
    container_name: alpine
    image: abhishek1009/alpine:latest
    build:
      context: .
      dockerfile: Dockerfile.alpine
    command: sleep infinity
  dev:
    container_name: dev
    image: abhishek1009/dev:latest
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: sleep infinity
    depends_on:
      - ubuntu
    ports:
      - "8080:8080"
      - "3000:3000"
      - "5000:5000"
      - "8001:8001"
