## See this video for refference : https://www.youtube.com/watch?v=x7f9x30W_dI


# This workflow builds and pushes a Docker image to Docker Hub
name: Build and Push Sandbox Image

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  workflow_dispatch: {}
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]


jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image for alpine
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.alpine
          platforms: linux/amd64,linux/arm64
          push: true
          tags: '${{ vars.DOCKERHUB_USERNAME }}/alpine:latest'
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/alpine:cache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/alpine:cache,mode=max
      - name: Build and push Docker image for ubuntu
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.ubuntu
          platforms: linux/amd64,linux/arm64
          push: true
          tags: '${{ vars.DOCKERHUB_USERNAME }}/ubuntu:latest'
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/ubuntu:cache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/ubuntu:cache,mode=max
      - name: Build and push Docker image for dev
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.dev
          platforms: linux/amd64,linux/arm64
          push: true
          tags: '${{ vars.DOCKERHUB_USERNAME }}/dev:latest'
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/dev:cache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/dev:cache,mode=max
      - name: Build and push Docker image for java
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.java
          platforms: linux/amd64,linux/arm64
          push: true
          tags: '${{ vars.DOCKERHUB_USERNAME }}/java:latest'
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/java:cache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/java:cache,mode=max
      - name: Build and push Docker image for python
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.python
          platforms: linux/amd64,linux/arm64
          push: true
          tags: '${{ vars.DOCKERHUB_USERNAME }}/python:latest'
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/python:cache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/python:cache,mode=max
      - name: Build and push Docker image for golang
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.golang
          platforms: linux/amd64,linux/arm64
          push: true
          tags: '${{ vars.DOCKERHUB_USERNAME }}/golang:latest'
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/golang:cache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/golang:cache,mode=max
      - name: Build and push Docker image for js
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.js
          platforms: linux/amd64,linux/arm64
          push: true
          tags: '${{ vars.DOCKERHUB_USERNAME }}/js:latest'
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/js:cache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/js:cache,mode=max
      - name: Build and push Docker image for rust
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.rust
          platforms: linux/amd64,linux/arm64
          push: true
          tags: '${{ vars.DOCKERHUB_USERNAME }}/rust:latest'  
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/rust:cache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/rust:cache,mode=max

          